@import './../abstracts/variables';

@keyframes fadeIn {
  0% {
    background-color: #ccc;
    color: fff;
  }
  100% {
    background-color: #eee;
    color: #aaa;
  }
}

.container {
  position: relative;
  top: 5vh;
  width: 80vw;
  height: 75vh;
  margin: auto;
  .header {
    display: flex;
    justify-content: space-between;
  }
  .teachersTab {
    width: 70vw;
    height: 5vh;
    display: flex;

    button {
      border: 0;
      width: 70px;
      font-size: 1.1rem;
      color: $T100;
      background-color: $T400;
      border-radius: 4px 12px 0 0;
      &.active {
        border: 1px solid $T300;
        border-bottom: 0;
        background-color: $T100;
        color: $T700;
      }
      &.inactive {
        position: relative;
        top: 0.5vh;
        height: 4.5vh;
        &:hover {
          animation: fadeIn 200ms both;
        }
      }
    }
  }
  .selectDate {
    border: 1px solid $T300;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    padding: 5px;
  }
}

.journal {
  width: 80vw;
  height: 70vh;
  display: flex;
  flex-flow: column nowrap;
  border-collapse: collapse;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 30px 0px $T300;

  input[readOnly] {
    border: 0;
    text-align: center;
    font-size: 1rem;
  }
  &__header {
    display: flex;
    flex-flow: row nowrap;
    height: 10vh;
  }
  &__main {
    height: 50vh;
    display: flex;
    flex-flow: row nowrap;
  }
  &__footer {
    height: 10vh;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px 20px;
  }
  &__details {
    width: 80%;
    height: 100%;
    > textarea {
      margin-top: 6px;
      width: 100%;
      height: 70%;
    }
  }
  &__btnSubmit {
    position: relative;
    margin-top: 26px;
    height: 70%;
    width: 20%;
  }
}
.journal__date {
  width: 25%;
  border-right: 1px solid $T300;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.journal__name {
  width: 25%;
  border-right: 1px solid $T300;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.journal__workHour {
  width: 50%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  > div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    > input {
      width: 50%;
    }
  }
}
.journal__main {
  width: 100%;
  > table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0px;
    > thead {
      > tr {
        > th {
          border: 1px solid $T300;
          margin: 0;
        }
        > th:first-child {
          width: 10%;
          border-left: 0;
        }
        > th:nth-child(2) {
          width: 10%;
        }
        > th:nth-child(3) {
          width: 15%;
        }
        > th:last-child {
          border-right: 0;
        }
      }
    }
    > tbody {
      > tr {
        > td {
          text-align: center;
          border: 1px solid $T300;
          > input {
            width: 100%;
            height: 100%;
          }
        }
        > td:first-child {
          border-left: 0;
        }
        > td:last-child {
          border-right: 0;
        }
      }
    }
  }
}
